* {
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system-caption, sans-serif; }

body {
  padding: 10vw 10vh; }

button {
  font-weight: bold;
  height: 3em;
  padding: 0 1em;
  background: #004966;
  color: #fff;
  border-radius: 0.5em;
  border: 0; }

select {
  border: solid 1px #ddd;
  height: 3em; }

var {
  font-family: Consolas, monospace;
  font-style: normal;
  margin: 0 .25em;
  color: #147fa1; }

code {
  font-family: monospace;
  color: #147fa1; }
  select + code {
    padding: 0 1em; }

h1 {
  color: #ddd;
  font-size: 6em;
  margin-bottom: 0.5em; }

h2 {
  margin-top: 2em;
  font-size: 3em;
  text-transform: uppercase; }

h3 {
  margin-top: 5em;
  padding-top: 0.5em;
  border-top: solid 1px #ddd; }
  h2 + h3 {
    margin-top: 1em; }

a {
  color: #147fa1; }

.vh {
  background-color: #eee;
  border-bottom: solid 3px #ddd;
  padding: 5vw;
  margin: 5vw 0; }

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background: #004966;
  color: #fff;
  text-align: center; }
